[submodule "hello_cargo"]
    path = hello_cargo
    url = https://github.com/PhuyalGaurav/hello_cargo_rust

[submodule "guessing_game"]
    path = guessing_game
    url = https://github.com/PhuyalGaurav/guessing_game_rust
[submodule "common-functions-rust"]
	path = common-functions-rust
	url = https://github.com/PhuyalGaurav/common-functions-rust.git
[submodule "understanding-ownership"]
	path = understanding-ownership
	url = https://github.com/PhuyalGaurav/understanding-ownership.git
[submodule "borrowing-and-slicetypes"]
	path = borrowing-and-slicetypes
	url = https://github.com/PhuyalGaurav/borrowing-and-slicetypes
[submodule "rust-structs"]
	path = rust-structs
	url = https://github.com/PhuyalGaurav/rust-structs.git
[submodule "enums-patterns"]
	path = enums-patterns
	url = https://github.com/PhuyalGaurav/enums-patterns
